.bull-process-bar {
  width: 100%;
  box-sizing: border-box;

  .bull-process-bar-outer {
    background-color: $progress-bg;
    border-radius: $progress-border-radius;
    position: relative;
    overflow: hidden;
  }
  .bull-process-bar-inner {
    position: absolute;
    top: 0;
    left: 0;
    transition: $progress-bar-transition;
    border-radius: $progress-border-radius;
    line-height: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .inner-text {
      color : $progress-bar-color;
      font-size: $progress-font-size;
      margin: 0 1rem;
    }
  }
}
@each $key,$value in $theme-colors {
  .color-#{$key} {
    background-color: $value;
  }
}